body {
	background: #fff;

}
main {
	background: #fff;
	width: 800px;
	margin: 0 auto;
	padding: 30px;
}
canvas {
	border: 1px solid #999;
}
ul{
	list-style: none;
	width: 100%;
}
li {
	display: inline-block;
}
button {
	width: 60px;
	height: 30px;
	border: none;
	background-color: #c0c0c0;
}
button.active {
	background: #0066cc;
	color: white;
}